.popup__button_disabled {
  background-color: #f6f6f6;
  color: #d4cfcf;
  cursor: not-allowed;
  border: 1px solid #000;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__input-error_active {
  opacity: 1;
}

.popup__input-error {
  color: #f00;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
